.venv
dist/
target/
.pytest_cache/**
__pycache__/
*.egg-info
python/LICENSE
descriptor.pb
.ipynb_checkpoints/
build
java/.vscode/settings.json
docker/**/biopb/
python/**/biopb/
*.pickle
*.pkl
*.pth
*.pt